name: Build all packages
on:
  workflow_dispatch:
      ref:
        description: PyInstaller tag/ref
        required: true
        default: v6.15.0
        type: string

jobs:
  build_x64:
    uses: ./.github/workflows/build-package.yml
    with:
      ref: ${{ inputs.ref }}
      architecture: x64
    permissions:
      contents: write

  build_x86:
    needs: build_x64
    uses: ./.github/workflows/build-package.yml
    with:
      ref: ${{ inputs.ref }}
      architecture: x86
    permissions:
      contents: write

  build_arm64:
    needs: build_x86
    uses: ./.github/workflows/build-package.yml
    with:
      ref: ${{ inputs.ref }}
      architecture: arm64
    permissions:
      contents: write
